body{
	background-color:#2C423B;
}

h1{
	color: #FFFFFF;
	font-family:'Prompt', sans-serif;
	font-size: 60px;
	letter-spacing: 5px;
	margin-top: 5px;
	text-shadow: 2px, 2px, 4px #9AA7A3;	
}

#logo{
	margin-left: 600px;
	margin-right: 100px;
}

#co{
	width: 100px;
}

#checkout{
	text-align: center;
}

}
table{
	background-color: #2D3F39;
	border-color: #F3F7F6;
	border-style: solid;
	border-width: 1px;
	padding:2px;
	
}

th{
	text-align: center;
	font-family:'Josefin Sans', sans-serif;
	color: #F3F7F6;
	text-decoration: line-through;
	text-shadow:#848484 ;
}

td{
	text-align: left;
	font-family:'Josefin Sans', sans-serif;
	color: #F3F7F6;
}
